/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-green-100, .bg-orange-100, .bg-red-100, .bg-gray-100 { display: block; }
}

