<div class="p-6 max-w-2xl mx-auto bg-white">

  <h1 class="text-center ">Ajouter un Examen</h1>

  <form [formGroup]="examForm" (ngSubmit)="onSubmit()" class="space-y-4">

    <!-- Nom et Prénom -->
    <div class="flex gap-4">
      <div class="flex-1">
        <label class="block font-medium">Prénom <span class="text-red-500">*</span></label>
        <input type="text" formControlName="first_name"  class="w-full px-3 py-2 border rounded-lg"
               [class.border-red-500]="firstNameField.invalid && firstNameField.touched">
        <p *ngIf="firstNameField.invalid && firstNameField.touched" class="text-red-500 text-sm">Le prénom est requis.</p>
      </div>

      <div class="flex-1">
        <label class="block font-medium">Nom <span class="text-red-500">*</span></label>
        <input type="text" formControlName="last_name" class="w-full px-3 py-2 border rounded-lg"
               [class.border-red-500]="lastNameField.invalid && lastNameField.touched">
        <p *ngIf="lastNameField.invalid && lastNameField.touched" class="text-red-500 text-sm">Le nom est requis.</p>
      </div>
    </div>

    <!-- Lieu de rencontre -->
    <div>
      <label class="block font-medium">Lieu de rencontre</label>
      <input type="text" formControlName="meeting_point" class="w-full px-3 py-2 border rounded-lg">
    </div>

    <!-- Date  -->
    <div>
      <label class="block font-medium">Date de l'examen</label>
      <input type="datetime-local" formControlName="date" class="w-full px-3 py-2 border rounded-lg"
             [class.border-red-500]="dateField.invalid && dateField.touched">
      <p *ngIf="dateField.invalid && dateField.touched" class="text-red-500 text-sm">
        Veuillez entrer une date valide.
      </p>
    </div>

    <!-- Statut -->
    <div>
      <label class="block font-medium">Statut</label>
      <select formControlName="status" class="w-full px-3 py-2 border rounded-lg">
        <option *ngFor="let status of statusOptions" [value]="status">{{ status }}</option>
      </select>
    </div>

    <div class="flex gap-4">
      <!-- Bouton Ajouter -->
      <button type="submit" class="bg-orange-600 text-white px-4 py-2 rounded-lg flex-1">
        Ajouter l'examen
      </button>
      <!-- Bouton Retour -->
      <button (click)="navigateToExamList()" type="button" class="bg-gray-500 text-white px-4 py-2 rounded-lg flex-2">
        Retour à la liste
      </button>
    </div>

  </form>

  <!-- Message de succès -->
  <p *ngIf="successMessage" class="text-green-600 text-center mt-4">{{ successMessage }}</p>
</div>
